*~
devtools-*.tar.gz*
archbuild
archco
archrelease
bash_completion
checkpkg
commitpkg
finddeps
lddd
makechrootpkg
makerepropkg
mkarchroot
rebuildpkgs
zsh_completion
find-libdeps
crossrepomove
arch-nspawn
sogrep
doc/*.1
